/*button*/

.btn {
  text-align: center;
  width: 100%;
  max-width: 211px;
  @include font("Montserrat",700,17px,1px,normal, #FFFFFF);
  display: inline-block;
  padding: 15.5px 0;
  background: #E60023;
  border: 1px solid transparent;
  border-top-left-radius: 50px;
  border-bottom-left-radius:50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius:  50px;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #000;
  }
}
.btn2 {
  text-align: center;
  width: 100%;
  max-width: 211px;
  @include font("Montserrat",700,17px,1px,normal, #FFFFFF);
  display: inline-block;
  padding: 15.5px 0;
  background: #111111;
  border: 1px solid transparent;
  border-top-left-radius: 50px;
  border-bottom-left-radius:50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius:  50px;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #000;
  }
}
