/*banner*/

#banner {
  position: relative;
  margin-top: -200px;
  .banner-img{
    img{
      width: 100%;
      height: 1257px;
      object-fit: cover;
    }
  }
  .row{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
  }
  h2{
    @include font("Montserrat",600,71px,normal,76px,#FFFFFF);
    text-shadow: 3px 3px 5px #000000;
  }
  p{
    margin: 0 0 30px;
    @include font("Montserrat",600,22px,6px,120%,#FFFFFF);
    text-shadow: 3px 3px 5px #000000;
  }
}
