/*footer*/

#footer {
  .footer-top{
    padding: 55px 0 30px;
    .row{
      max-width: 1440px;
      width: 95%;
      @include flex(row,wrap,space-between,center);
    }
    .icon{
      @include flex-basis(1440px,388px);
      @include width(1440px,388px);
    }
    .main-icon{
      @include flex-basis(1440px,660px);
      @include width(1440px,660px);
      .mainLogo{
        margin: 0 0 50px;
        width: 100%;
      }
    }
  }
  .footer-mid{
    background: #E60023;
    .row{
      max-width: 1440px;
      width: 95%;
      @include flex(row,wrap,space-between,stretch);
    }
    .left{
      max-width: 903px;
      @include flex-basis(1440px,903px);
      @include width(1440px,903px);
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        @include flex(row,wrap,space-between,center);
        li{
          a{
            display: inline-block;
            padding: 25px;
            text-transform: uppercase;
            @include font("Montserrat",400,17px,normal,normal,#FFFFFF);
          }
        }
      }
    }
    .right{
      background: #000000;
      max-width: 335px;
      @include flex-basis(1440px,335px);
      @include width(1440px,335px);
      ul{
        max-width: 213px;
        margin: 0 auto;
        padding: 21px 0;
        list-style: none;
        @include flex(row,wrap,space-between,center);
        li{
          a{
            display: inline-block;
            font-family: "socialico";
            font-size: 28px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
  .footer-bot{
    @include font("Montserrat",400,17px,normal,normal,#000000);
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
