/*header*/

#header {
  position: relative;
  z-index: 999;
  border-top: 10px solid #000000;
  .row{
    max-width: 100%;
    width: 95%;
    @include flex(row,wrap,space-between,flex-start)
  }
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0 auto;
      padding: 0;
      @include flex(row,wrap,space-between,flex-start);
      max-width: 1026px;
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          @include font("Montserrat",600,16px,normal,120%,#000000);
          text-transform: uppercase;
          position: relative;
          padding: 36px 0;
          display: inline-block;
        }
        &.active-menu a, a:hover {
          &::before{
            content: "";
            background: url('../images/common/sprite.png') no-repeat 0 -3px;
          	width: 21px;
          	height: 23px;
            position: absolute;
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .hdLeft{
    max-width: 1224px;
    @include flex-basis(1920px,1224px);
  }
  .hdRight{
    padding: 30px 0 0;
    max-width: 604px;
    @include flex-basis(1920px,604px);
    a{
      background: #000000;
      @include font("Montserrat",600,39px,normal,normal,#FFFFFF);
      display: inline-block;
      padding: 18px 30px 18px 54px;
      border-radius: 10px;
      position: relative;
      &::before{
        content:"";
        position: absolute;
        top: 50%;
        left: -8%;
        transform: translateY(-50%);
        background: #E60023 url('../images/common/sprite.png') no-repeat -95px 14px;
      	width: 58px;
      	height: 58px;
        border-radius: 100%;
        transition: all 0.5s ease;
      }
      &:hover{
        background: #E60023;
        &::before{
          transform: translateY(-50%) rotate(360deg);
          background: #000000 url('../images/common/sprite.png') no-repeat -95px 14px;
        }
      }
    }
  }
  .hdLogo{
    max-width: 786px;
    position: relative;
    margin: -10px 0 0;
    @include flex-basis(1920px, 786px);
    img{
      max-width: 644px;
      width: 100%;
      margin: 0 auto;
    }
  }
  #dropdown{
    position: relative;
    display: inline-block;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 80%;
    min-width: 200px;
    background: #FFFFFF;
    box-shadow: 0 0 40px -15px;
  }
  #dropdown:hover .dropdown-content{
    display: block;
  }
}
