#services{
  position: relative;
  z-index: 1;
  margin: -336px auto 0;
  .row{
    max-width: 1440px;
    width: 95%;
    @include flex(row,wrap,space-between,stretch);
  }
  dl{
    max-width: 447px;
    @include flex-basis(1440px, 447px);
    background: #000;
    dt{
      img{
        width: 100%;
        object-fit: contain;
      }
    }
    dd{
      margin: -5px 0 0;
      padding: 28px 20px 20px;
      h4{
        @include font("Montserrat",600,30px,normal,normal,#FFFFFF);
        padding: 0 0 30px;
        position: relative;
        &::after{
          content:"";
          background: #E60023;
          width: 34px;
          height: 3px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      p{
        @include font("Montserrat",400,17px,normal,normal,#FFFFFF);
      }
    }
  }
}
