#reviews{
  padding: 0 0 139px;
  .row{
    max-width: 1440px;
  }
  h2{
    @include font("Montserrat",500,80px,normal,120%,#000000);
    span{
      color: #E50022;
    }
    margin: 0 0 10px;
  }
  .container{
    position: relative;
    padding: 60px 0;
    @include flex(row,wrap,space-around,stretch);
    box-shadow: 7px 7px 40px -25px #000000;
    .review-box{
      @include flex-basis(1440px, 569px);
      p.star{
        font-size: 25px;
        color: #D9A300;
        margin: 0 auto;
      }
      p.text{
        margin: 0 0 20px;
        @include font("Montserrat",400,17px,normal,35px,#000000);
      }
    }
  }
  .btn{
    position: absolute;
    bottom: -26.5px;
    left: 50%;
    transform: translateX(-50%);
  }
}
