#qContact{
  background: url(../images/common/contactBG.jpg)no-repeat center center;
  background-size: cover;
  margin: -42px 0 0;
  padding: 244px 0 0;
  .row{
    max-width: 1440px;
    width: 95%;
  }
  h2{
    padding: 0 0 10px;
    margin: 0 0 30px;
    position: relative;
    @include font("Montserrat",500,80px,normal,120%,#FFFFFF);
    &::after{
      content:"";
      width: 170px;
      height: 1px;
      background: #CCCCCC;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  form{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    .qform-top{
      @include flex(row,wrap,space-between,stretch);
      label{
        max-width: 392px;
        @include flex-basis(1200px,392px);
        @include width(1200px,392px);
        input{
          border-top-left-radius: 50px;
          border-bottom-left-radius:50px;
          border-top-right-radius: 50px;
          border-bottom-right-radius:  50px;
          padding-left: 35px;
          height: 50px;
          @include font("Montserrat",400,17px,normal,normal,#000000);
          &::placeholder{
            @include font("Montserrat",400,17px,normal,normal,#000000);
          }
        }
      }
    }
    textarea{
      border-radius: 10px;
      padding-left: 35px;
      @include font("Montserrat",400,17px,normal,normal,#000000);
      &::placeholder{
        @include font("Montserrat",400,17px,normal,normal,#000000);
      }
      height: 250px;
    }
    .qform-bottom{
      @include font("Montserrat",400,17px,normal,normal,#FFFFFF);
    }
  }
  .container{
    margin-top: 30px;
    @include flex(row,wrap,space-between,stretch);
    div{
      max-width: 446px;
      @include flex-basis(1440px,446px);
      @include width(1440px,446px);
      background: #000000;
      padding: 50px 0 40px;
      a{
        position: relative;
        padding: 89px 0 0;
        max-width: 358px;
        width: 90%;
        display: inline-block;
        @include font("Montserrat",400,23px,normal,normal,#FFFFFF);

      }
      .email{
        word-break: break-all;
        &::before{
          content:"";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background: #E60023 url('../images/common/sprite.png') no-repeat -33px 14px;
        	width: 58px;
        	height: 58px;
          border-radius: 100%;
        }
      }
      .phone{
        font-size: 39px;
        &::before{
          content:"";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background: #E60023 url('../images/common/sprite.png') no-repeat -95px 14px;
        	width: 58px;
        	height: 58px;
          border-radius: 100%;
        }
      }
      .address{
        &::before{
          content:"";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background: #E60023 url('../images/common/sprite.png') no-repeat -153px 12px;
        	width: 58px;
        	height: 58px;
          border-radius: 100%;
        }
      }
    }
  }
}
