#recent-project{
  .row{
    max-width: 1920px;
    @include flex(row,wrap,space-between,stretch);
  }
  .rp-left{
    @include flex(row,wrap,space-between,stretch);
    @include flex-basis(1920px,956px);
    @include width(1920px,956px);
    img{
      max-width: 473px;
      @include flex-basis(956px,473px);
      @include width(956px,473px);
      height: 48%;
    }
    .header{
      position: relative;
      background: #000000;
      max-width: 473px;
      @include flex-basis(956px,473px);
      @include width(956px,473px);
      height: 48%;;
      h2{
        @include font("Montserrat",500,80px,normal,120%,#FFFFFF);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  .rp-right{
    @include flex-basis(1920px,956px);
    @include width(1920px,956px);
    max-width: 956px;
    height: 100%
  }
}
#quote{
  position: relative;
  z-index: 1;
  padding: 40px 0 0;
  p{
    @include font("Montserrat",500,31px,normal,normal,#000000);
  }
  a.qPhone{
    display: inline-block;
    @include font("Montserrat",400,49px,normal,normal,#E60023);
    padding: 0 0 0 80px;
    position: relative;
    &::before{
      content:"";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: #000000 url('../images/common/sprite.png') no-repeat -95px 14px;
      width: 58px;
      height: 58px;
      border-radius: 100%;
    }
  }
}
