#about{
  background: url(../images/common/aboutBG.jpg)no-repeat center center;
  background-size: cover;
  padding: 344px 0 115px;
  position: relative;
  margin: -344px 0 0;
  .row{
    max-width: 1440px;
    width: 95%;
    @include flex(row,wrap,space-between,stretch);
  }
  .text{
    width: 45%;
    text-align: left;
    padding: 80px 0 0;
    h2{
      @include font("Montserrat",500,80px,normal,120%,#FFFFFF);
    }
    p{
      @include font("Montserrat",400,17px,normal,35px,#FFFFFF);
      max-width: 614px;
      margin: 30px 0;
    }
  }
  img{
    width: 50%;
    object-fit: cover;
  }
}
