#welcome{
  padding: 30px 0 0;
  position: relative;
  z-index: 1;
  .row{
    max-width: 1920px;
    @include flex(row,wrap,space-between,stretch);
  }
  img.wlc-rat{
    width: 50%;
    object-fit: cover;
    height: 752px;
  }
  .wlc-text{
    padding: 40px 0 0;
    text-align: left;
    @include width(1920px,870px);
    h3{
      position: relative;
      @include font("Lato",700,34px,7.5px,120%,#000000);
      padding: 0 0 30px;
      &::after{
        content:"";
        width: 263px;
        height: 1px;
        background: #CCCCCC;
        position: absolute;
        bottom: 0;
        left: -10.3%;
        z-index: -1;
      }
    }
    p{
      @include font("Montserrat",400,17px,normal,35px,#000000);
      max-width: 612px;
      margin: 30px 0 40px;
    }
    .buttons{
      max-width: 463px;
      width: 100%;
      margin: 0 0 84px;
      @include flex(row,wrap,space-between,stretch);
    }
    .wlcPhone{
      @include font("Montserrat",600,54px,normal,120%,#FFFFFF);
      padding: 0 0 0 85px;
      position: relative;
      &::before{
        content:"";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: #E60023 url('../images/common/sprite.png') no-repeat -95px 14px;
      	width: 58px;
      	height: 58px;
        border-radius: 100%;
      }
    }
  }
}
