/*inner pages*/

.inner #content {
  min-height: 400px;
  padding: 40px 0;
}
.inner #content h1{
  font-size: 40px;
  margin: 40px 0;
}
.inner #content p{
  @include font("Montserrat",400,17px,normal,35px,#000000);
}
.testimonials-page #content{
  .testimonial{
    padding: 20px 30px;
    box-shadow: 0 0 40px -15px;
    margin-bottom: 20px;
    .star{
      font-size: 25px;
      color: #D9A300;
      margin: 0 auto;
    }
    .text{
      @include font("Montserrat",400,17px,normal,35px,#000000);
      span{
        font-weight: 700;
      }
    }
  }
}
