@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; z-index: 999999; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1440px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1440px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; width: 100%; max-width: 211px; font-family: "Montserrat"; font-weight: 700; font-size: 17px; letter-spacing: 1px; line-height: normal; color: #FFFFFF; display: inline-block; padding: 15.5px 0; background: #E60023; border: 1px solid transparent; border-top-left-radius: 50px; border-bottom-left-radius: 50px; border-top-right-radius: 50px; border-bottom-right-radius: 50px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #000; }

.btn2 { text-align: center; width: 100%; max-width: 211px; font-family: "Montserrat"; font-weight: 700; font-size: 17px; letter-spacing: 1px; line-height: normal; color: #FFFFFF; display: inline-block; padding: 15.5px 0; background: #111111; border: 1px solid transparent; border-top-left-radius: 50px; border-bottom-left-radius: 50px; border-top-right-radius: 50px; border-bottom-right-radius: 50px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn2:hover { background: #ddd; border-color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-family: "Montserrat"; font-weight: 500; font-size: 85px; letter-spacing: normal; line-height: 120%; color: #E60023; }

/*header*/
#header { position: relative; z-index: 999; border-top: 10px solid #000000; }

#header .row { max-width: 100%; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0 auto; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; max-width: 1026px; }

#header nav ul li { display: inline-block; vertical-align: middle; }

#header nav ul li a { font-family: "Montserrat"; font-weight: 600; font-size: 16px; letter-spacing: normal; line-height: 120%; color: #000000; text-transform: uppercase; position: relative; padding: 36px 0; display: inline-block; }

#header nav ul li.active-menu a::before, #header nav ul li a:hover::before { content: ""; background: url("../images/common/sprite.png") no-repeat 0 -3px; width: 21px; height: 23px; position: absolute; top: -5px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#header .hdLeft { max-width: 1224px; -ms-flex-preferred-size: 63.75%; flex-basis: 63.75%; }

#header .hdRight { padding: 30px 0 0; max-width: 604px; -ms-flex-preferred-size: 31.45833%; flex-basis: 31.45833%; }

#header .hdRight a { background: #000000; font-family: "Montserrat"; font-weight: 600; font-size: 39px; letter-spacing: normal; line-height: normal; color: #FFFFFF; display: inline-block; padding: 18px 30px 18px 54px; border-radius: 10px; position: relative; }

#header .hdRight a::before { content: ""; position: absolute; top: 50%; left: -8%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background: #E60023 url("../images/common/sprite.png") no-repeat -95px 14px; width: 58px; height: 58px; border-radius: 100%; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#header .hdRight a:hover { background: #E60023; }

#header .hdRight a:hover::before { -webkit-transform: translateY(-50%) rotate(360deg); -ms-transform: translateY(-50%) rotate(360deg); transform: translateY(-50%) rotate(360deg); background: #000000 url("../images/common/sprite.png") no-repeat -95px 14px; }

#header .hdLogo { max-width: 786px; position: relative; margin: -10px 0 0; -ms-flex-preferred-size: 40.9375%; flex-basis: 40.9375%; }

#header .hdLogo img { max-width: 644px; width: 100%; margin: 0 auto; }

#header #dropdown { position: relative; display: inline-block; }

#header .dropdown-content { display: none; position: absolute; z-index: 1; left: 0; top: 80%; min-width: 200px; background: #FFFFFF; -webkit-box-shadow: 0 0 40px -15px; box-shadow: 0 0 40px -15px; }

#header #dropdown:hover .dropdown-content { display: block; }

/*banner*/
#banner { position: relative; margin-top: -200px; }

#banner .banner-img img { width: 100%; height: 1257px; -o-object-fit: cover; object-fit: cover; }

#banner .row { position: absolute; left: 0; right: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); max-width: 100%; }

#banner h2 { font-family: "Montserrat"; font-weight: 600; font-size: 71px; letter-spacing: normal; line-height: 76px; color: #FFFFFF; text-shadow: 3px 3px 5px #000000; }

#banner p { margin: 0 0 30px; font-family: "Montserrat"; font-weight: 600; font-size: 22px; letter-spacing: 6px; line-height: 120%; color: #FFFFFF; text-shadow: 3px 3px 5px #000000; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#services { position: relative; z-index: 1; margin: -336px auto 0; }

#services .row { max-width: 1440px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#services dl { max-width: 447px; -ms-flex-preferred-size: 31.04167%; flex-basis: 31.04167%; background: #000; }

#services dl dt img { width: 100%; -o-object-fit: contain; object-fit: contain; }

#services dl dd { margin: -5px 0 0; padding: 28px 20px 20px; }

#services dl dd h4 { font-family: "Montserrat"; font-weight: 600; font-size: 30px; letter-spacing: normal; line-height: normal; color: #FFFFFF; padding: 0 0 30px; position: relative; }

#services dl dd h4::after { content: ""; background: #E60023; width: 34px; height: 3px; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#services dl dd p { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#welcome { padding: 30px 0 0; position: relative; z-index: 1; }

#welcome .row { max-width: 1920px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#welcome img.wlc-rat { width: 50%; -o-object-fit: cover; object-fit: cover; height: 752px; }

#welcome .wlc-text { padding: 40px 0 0; text-align: left; width: 45.3125%; }

#welcome .wlc-text h3 { position: relative; font-family: "Lato"; font-weight: 700; font-size: 34px; letter-spacing: 7.5px; line-height: 120%; color: #000000; padding: 0 0 30px; }

#welcome .wlc-text h3::after { content: ""; width: 263px; height: 1px; background: #CCCCCC; position: absolute; bottom: 0; left: -10.3%; z-index: -1; }

#welcome .wlc-text p { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: 35px; color: #000000; max-width: 612px; margin: 30px 0 40px; }

#welcome .wlc-text .buttons { max-width: 463px; width: 100%; margin: 0 0 84px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#welcome .wlc-text .wlcPhone { font-family: "Montserrat"; font-weight: 600; font-size: 54px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; padding: 0 0 0 85px; position: relative; }

#welcome .wlc-text .wlcPhone::before { content: ""; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background: #E60023 url("../images/common/sprite.png") no-repeat -95px 14px; width: 58px; height: 58px; border-radius: 100%; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#about { background: url(../images/common/aboutBG.jpg) no-repeat center center; background-size: cover; padding: 344px 0 115px; position: relative; margin: -344px 0 0; }

#about .row { max-width: 1440px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#about .text { width: 45%; text-align: left; padding: 80px 0 0; }

#about .text h2 { font-family: "Montserrat"; font-weight: 500; font-size: 80px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }

#about .text p { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: 35px; color: #FFFFFF; max-width: 614px; margin: 30px 0; }

#about img { width: 50%; -o-object-fit: cover; object-fit: cover; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#reviews { padding: 0 0 139px; }

#reviews .row { max-width: 1440px; }

#reviews h2 { font-family: "Montserrat"; font-weight: 500; font-size: 80px; letter-spacing: normal; line-height: 120%; color: #000000; margin: 0 0 10px; }

#reviews h2 span { color: #E50022; }

#reviews .container { position: relative; padding: 60px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-box-shadow: 7px 7px 40px -25px #000000; box-shadow: 7px 7px 40px -25px #000000; }

#reviews .container .review-box { -ms-flex-preferred-size: 39.51389%; flex-basis: 39.51389%; }

#reviews .container .review-box p.star { font-size: 25px; color: #D9A300; margin: 0 auto; }

#reviews .container .review-box p.text { margin: 0 0 20px; font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: 35px; color: #000000; }

#reviews .btn { position: absolute; bottom: -26.5px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#recent-project .row { max-width: 1920px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#recent-project .rp-left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-preferred-size: 49.79167%; flex-basis: 49.79167%; width: 49.79167%; }

#recent-project .rp-left img { max-width: 473px; -ms-flex-preferred-size: 49.47699%; flex-basis: 49.47699%; width: 49.47699%; height: 48%; }

#recent-project .rp-left .header { position: relative; background: #000000; max-width: 473px; -ms-flex-preferred-size: 49.47699%; flex-basis: 49.47699%; width: 49.47699%; height: 48%; }

#recent-project .rp-left .header h2 { font-family: "Montserrat"; font-weight: 500; font-size: 80px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#recent-project .rp-right { -ms-flex-preferred-size: 49.79167%; flex-basis: 49.79167%; width: 49.79167%; max-width: 956px; height: 100%; }

#quote { position: relative; z-index: 1; padding: 40px 0 0; }

#quote p { font-family: "Montserrat"; font-weight: 500; font-size: 31px; letter-spacing: normal; line-height: normal; color: #000000; }

#quote a.qPhone { display: inline-block; font-family: "Montserrat"; font-weight: 400; font-size: 49px; letter-spacing: normal; line-height: normal; color: #E60023; padding: 0 0 0 80px; position: relative; }

#quote a.qPhone::before { content: ""; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background: #000000 url("../images/common/sprite.png") no-repeat -95px 14px; width: 58px; height: 58px; border-radius: 100%; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#qContact { background: url(../images/common/contactBG.jpg) no-repeat center center; background-size: cover; margin: -42px 0 0; padding: 244px 0 0; }

#qContact .row { max-width: 1440px; width: 95%; }

#qContact h2 { padding: 0 0 10px; margin: 0 0 30px; position: relative; font-family: "Montserrat"; font-weight: 500; font-size: 80px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }

#qContact h2::after { content: ""; width: 170px; height: 1px; background: #CCCCCC; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#qContact form { max-width: 1200px; width: 95%; margin: 0 auto; }

#qContact form .qform-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#qContact form .qform-top label { max-width: 392px; -ms-flex-preferred-size: 32.66667%; flex-basis: 32.66667%; width: 32.66667%; }

#qContact form .qform-top label input { border-top-left-radius: 50px; border-bottom-left-radius: 50px; border-top-right-radius: 50px; border-bottom-right-radius: 50px; padding-left: 35px; height: 50px; font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #000000; }

#qContact form .qform-top label input::-webkit-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #000000; }

#qContact form .qform-top label input:-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #000000; }

#qContact form .qform-top label input::-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #000000; }

#qContact form .qform-top label input::placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #000000; }

#qContact form textarea { border-radius: 10px; padding-left: 35px; font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #000000; height: 250px; }

#qContact form textarea::-webkit-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #000000; }

#qContact form textarea:-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #000000; }

#qContact form textarea::-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #000000; }

#qContact form textarea::placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #000000; }

#qContact form .qform-bottom { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

#qContact .container { margin-top: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#qContact .container div { max-width: 446px; -ms-flex-preferred-size: 30.97222%; flex-basis: 30.97222%; width: 30.97222%; background: #000000; padding: 50px 0 40px; }

#qContact .container div a { position: relative; padding: 89px 0 0; max-width: 358px; width: 90%; display: inline-block; font-family: "Montserrat"; font-weight: 400; font-size: 23px; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

#qContact .container div .email { word-break: break-all; }

#qContact .container div .email::before { content: ""; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: #E60023 url("../images/common/sprite.png") no-repeat -33px 14px; width: 58px; height: 58px; border-radius: 100%; }

#qContact .container div .phone { font-size: 39px; }

#qContact .container div .phone::before { content: ""; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: #E60023 url("../images/common/sprite.png") no-repeat -95px 14px; width: 58px; height: 58px; border-radius: 100%; }

#qContact .container div .address::before { content: ""; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: #E60023 url("../images/common/sprite.png") no-repeat -153px 12px; width: 58px; height: 58px; border-radius: 100%; }

/*footer*/
#footer .footer-top { padding: 55px 0 30px; }

#footer .footer-top .row { max-width: 1440px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footer-top .icon { -ms-flex-preferred-size: 26.94444%; flex-basis: 26.94444%; width: 26.94444%; }

#footer .footer-top .main-icon { -ms-flex-preferred-size: 45.83333%; flex-basis: 45.83333%; width: 45.83333%; }

#footer .footer-top .main-icon .mainLogo { margin: 0 0 50px; width: 100%; }

#footer .footer-mid { background: #E60023; }

#footer .footer-mid .row { max-width: 1440px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#footer .footer-mid .left { max-width: 903px; -ms-flex-preferred-size: 62.70833%; flex-basis: 62.70833%; width: 62.70833%; }

#footer .footer-mid .left ul { margin: 0; padding: 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footer-mid .left ul li a { display: inline-block; padding: 25px; text-transform: uppercase; font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

#footer .footer-mid .right { background: #000000; max-width: 335px; -ms-flex-preferred-size: 23.26389%; flex-basis: 23.26389%; width: 23.26389%; }

#footer .footer-mid .right ul { max-width: 213px; margin: 0 auto; padding: 21px 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footer-mid .right ul li a { display: inline-block; font-family: "socialico"; font-size: 28px; color: #FFFFFF; }

#footer .footer-bot { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: normal; color: #000000; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

.inner #content h1 { font-size: 40px; margin: 40px 0; }

.inner #content p { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: 35px; color: #000000; }

.testimonials-page #content .testimonial { padding: 20px 30px; -webkit-box-shadow: 0 0 40px -15px; box-shadow: 0 0 40px -15px; margin-bottom: 20px; }

.testimonials-page #content .testimonial .star { font-size: 25px; color: #D9A300; margin: 0 auto; }

.testimonials-page #content .testimonial .text { font-family: "Montserrat"; font-weight: 400; font-size: 17px; letter-spacing: normal; line-height: 35px; color: #000000; }

.testimonials-page #content .testimonial .text span { font-weight: 700; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1440px) { #recent-project .rp-left .header h2 { font-size: 60px; } }

/*@media screen and (max-width:1280px){

}*/
/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
  .mobile-space-around{justify-content: space-around!important;}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
/*@media screen and (max-width:640px){

}*/
/*@media screen and (max-width:480px){

}*/
/*@media screen and (max-width:400px){

}*/
/*@media screen and (max-width:320px){

}*/
